{% extends "base.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% block side_bar %}
                {{ function('get_sidebar') }}
            {% endblock %}
        </div>
        <div class="col-md-9">
            <div>
                {% block posts_content %}
                    {% for post in posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}